/* Import Cocogoose and Lato fonts */
@font-face {
    font-family: 'Cocogoose';
    src: url("fonts/Cocogoose/Cocogoose Pro Italic-trial.ttf");
  }
  
  @font-face {
    font-family: 'Lato';
    src: url("fonts/Lato/Lato-Regular.woff");
  }
  
  /* All viewports */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* Mobile version */
@media only screen and (max-width: 768px) {
    /* Stylize main */
    .main-index {
        background-image: url("images/mobile_intro_bg.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .main-about {
        background-image: url("images/mobile_intro_bg.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* Stylize Header */
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;        
    }

    /* Hide top-header container, logo-container, menu, campaign button */
    .top-header,
    .desktop-version,
    .logo-container, 
    .menu,
    .campaign,
    .whole-program {
      display: none;
    }

    /* Stylize hamburger button */
    .btn-hamburger-menu {
        position: fixed;
        margin-top: 19px;
        margin-left: 16px;
        left: 0;
        cursor: pointer;
        width: 50%;        
        z-index: 300;
      }
      
      .btn-hamburger-menu:active {
        width: 80%;
      }

      /* Stylize Introduction section in index page*/
      #Index-Introduction {
          display: flex;
          flex-direction: column;
          margin-left: 16px;
          margin: 100px 16px 0 16px;
          height: 450px;
      }

      #Index-Introduction .greetings {
          font-family: '',sans-serif;
          font-size: 23px;
          color: #ec5242;          
      }

      #Index-Introduction .event-title {
          background: url("images/h1_background.jpg") -20px -20px no-repeat;
          font-family: 'Cocogoose',sans-serif;
          font-size: 33px;
          margin-top: 15px;        
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
      }

      #Index-Introduction .event-description {
          margin-top: 35px;
          font-family: 'Lato', sans-serif;
          /* text-align: justify; */
          font-size: 18px;
          color: #272a31;
          border: 4px white solid;
          background-color: #f7f7f8;
          padding: 10px;
        }

        #Index-Introduction .event-date {
            margin-top: 25px;
            font-family: 'Cocogoose', sans-serif;
            font-size: 20px;
            color: #575757;

        }

        #Index-Introduction .event-place {
            margin-top: 10px;
            margin-bottom: 20px;
            font-family: 'Lato', sans-serif;
            font-size: 18px;
            color: #272a31;
        }

        /* Stylize introduction section in about page */
        #About-Introduction {
            display: flex;
            flex-direction: column;
            margin-left: 16px;
            margin: 90px 16px 0 16px;
            height: 520px;
        }
  
        #About-Introduction .greetings {
            font-family: '',sans-serif;
            font-size: 23px;
            text-align: center;
            margin-top: 40px;
            color: #ec5242;          
        }
  
        #About-Introduction .event-title {
            font-family: 'Cocogoose',sans-serif;
            text-align: center;
            font-size: 33px;
            margin-top: 15px;
            color: #ec5242;           
        }
  
        #About-Introduction .event-description {
            margin-top: 35px;
            font-family: 'Lato', sans-serif;
            text-align: center;
            font-size: 18px;
            color: #272a31;
            border: 4px #f7f7f8 solid;
            background-color: white;
            padding: 10px;
          }

        /* Stylize main-program in index.html */
        #main-program {
            display: flex;
            flex-direction: column; 
            justify-content: center;
            align-items: center;
            background-image: url("images/pattern.png");            
            background-color: #333;            
                               
        }

        #main-program .program-title {
            font-family: 'Lato', sans-serif;
            padding-top: 50px;
            color: white;
            text-align: center;
        }

        .separator {
            width: 53px;
            height: 16px;
            border-bottom: 1px solid #ef513c;
            margin: 0 auto 54px;
        }

        .program-list {
            display: flex;
            flex-direction: column;           
            gap: 15px;
        }

        .program-list li {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;
            background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
            list-style-type: none;
            /* padding-top: 10px; */
            margin-left: 16px;
            margin-right: 16px;
            height: 110px;
            
        }

        .program-list .icon {
            width: 64px;
            height: 58px;            
        }

        .program-list .subtitle {
            font-family: 'Cocogoose', sans-serif;
            font-size: 16px;
            color:#ef513c;
            width: 25%;                     
        }

        .program-list .description {
            font-family: 'Lato', sans-serif;
            color: white;
            font-size: 16px;
            width: 55%;                                         
        }

        #main-program .btn_join-program {
            margin-top: 50px;
            background-color: #e55242;
            color: white;
            font-family: 'Cocogoose', sans-serif;
            width: 300px;
            height: 80px;
            margin: 40px 0 40px 0;
            cursor: pointer;
            border-style: none;           
        }

        /* Stylize list of speakers in index.html */
        #Speakers {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 50px 16px 0 16px;
        }

        #Speakers .featured-speakers {
           font-family: 'Lato', sans-serif;
           font-weight: bolder;
        }

        /* Stylize partners in index.html */
        #Partner {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #333;
            margin-top: 50px;
        }

        #Partner .Partner-title {
            font-family: 'Lato', sans-serif;
            font-weight: bolder;
            color: white;
            padding-top: 50px;            
         }

         #Partner .Partner-list {
             display: flex;
             flex-direction: row;
             align-items: center;
             justify-content: center;
             flex-wrap: wrap;
             gap: 10px;
             list-style-type: none;
             list-style-position: outside;
             margin: -20px 0 50px 0;             
         }

         #Partner .Partner-list-item {
            width: 120px;
            height: auto;            
        }

        #footer {
            margin: 50px 0 50px 0;
            display: flex;
            gap: 30px;
            align-items: center;
            justify-content: center;
        }

        #footer .commons-creative-logo {
            width: 40%
        }

        #footer .copyright {
            width: 40%;
            font-family: 'Lato', sans-serif;
            font-size: 15px;
        }

        /* Stylize other parts of about.html */
        .contact-us {
            margin-top: 30px;
            margin-bottom: 20px;
            text-align: center;
            font-family: 'Lato', sans-serif;
            font-size: 15px;
        }

        .email {
          display: block;
          color: #3c3f46;
          font-weight: bold;
          text-decoration: underline;
          margin-top: 5px;
        }

        #ccgs2015-logo {
            margin: 80px 16px 0 16px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .ccgs2015-logo-title {
            font-family: 'Lato', sans-serif;
            font-weight: bold;
            color: #272a31;
            text-align: center;
        }
        .ccgs2015-logo-description {
            margin-top: -30px;
            font-family: 'Lato', sans-serif;
            text-align: center;
            font-size: 16px;
            color: #272a31; 
        }

        .img-logo {
            margin-top: 40px;
            width: 90%;
            border: thin solid #d3d3d3
        }

        #Past-ccgs {
            margin: 60px 16px 0 16px;
            border-top: thin solid #d3d3d3;
            padding-top: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .Past-ccgs-title {
            font-family: 'Lato', sans-serif;
            font-size: 23px;
            font-weight: bold;
            color: #272a31;
            text-align: center;
        }

        .Past-ccgs-description {
            margin-top: -35px;
            font-family: 'Lato', sans-serif;
            text-align: center;
            font-size: 14px;
            color: #272a31; 
        }

        .ccgs2013 {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 200px;
            background-image: url("images/about2.png");
            background-repeat: no-repeat;
            background-size: cover;
        }

        .ccgs2011 {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 200px;
            background-image: url("images/about1.png");
            background-repeat: no-repeat;
            background-size: cover;
        }

        .ccgs2013 h2,
        .ccgs2011 h2 {
            font-family: 'Cocogoose', sans-serif;
            color: white;
            font-weight: bold;
            font-size: 30px;
            text-align: center;
        }

        .ccgs2013 p,
        .ccgs2011 p {
            font-family: 'Lato', sans-serif;
            font-weight: bold;
            color: white;
            font-size: 15px;
            text-align: center; 
        }
}

/* Desktop version */
@media only screen and (min-width: 769px) {

}
  